@model IEnumerable<FarukMC.Models.SurgicalDepartment>

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="card">
        <h5 class="card-header">Surgical Departments</h5>
        <div class="card-body">
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table text-center">
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SurgicalDepartmentDescription)
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SurgicalDepartmentDescription)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
